body {
    color: white;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}

.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    color: lightgreen;
    align-content: space-around;
    justify-content: space-around;
    flex-flow: column nowrap;
        
}
.flex-container2 {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    color: lightgreen;
    flex-flow: column nowrap;
    align-content: space-between;
    justify-content: space-around;
    padding: 10px;
    overflow:hidden;

}

.flex-item {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
    color: lightgreen;
    align-content: space-around;
    justify-content: space-around;
    overflow:hidden;

}
.flex-item2 {
        
    width: 100%;
    display: flex;
    background-color: black;
    color: lightgreen;
    
    justify-content: space-around;
    overflow:hidden;
    
}
.flex-item3 {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
    color: lightgreen;
    align-self: flex-end;
    justify-content: center;
    overflow:hidden;

}
.lblInput  {
    color:white;
    background-color:black;
    font-size:larger;
    display:flex;
    align-self:flex-start;
    min-width: 100px;
}

.ui-btn {
    width:25%;
    border-radius:25px;
    color:black;
    background-color:lightgrey;
    
}
.p1words {
    padding:0;
    margin-left:10px;
    margin-right:10px;
}
input {
    max-width:25vh;
    padding-left:10%;
    
    
}


.header {
    color: white;
    background-color: black;
}

h1 {
    border: solid;
    border-color: #fff53d;
    color: #fff53d;
    border-radius: 30px;
    text-align: center;
    background-color: #3d61ff;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3px;
}

h2 {
    font-size: 20px;
    border: solid;
    border-color: gold;
    color: gold;
    border-radius: 20px;
    text-align: center;
    background-color: dodgerblue;
    margin-left: 5vh;
    margin-right: 5vh;
    padding: 3px;
}

div {
    color: white;
    background-color: black;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    
    -moz-appearance:none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.authorship {
    color:#ec3dff;
    display:flex;
    justify-content:center;
    font-size:small;
    text-align:center;
    font-style:italic;
    
}