body {
    color: white;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
}

.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    color: lightgreen;
    align-content: space-around;
    justify-content: space-around;
    flex-flow: column nowrap;
        
}
.flex-container2 {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    color: lightgreen;
    flex-flow: column nowrap;
    align-content: space-between;
    justify-content: space-around;
    padding: 10px;
    overflow:hidden;
    
}

.flex-item {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
    color: lightgreen;
    align-content: space-around;
    justify-content: space-around;
    overflow:hidden;

}
.flex-item2 {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
    color: lightgreen;
    align-self: center;
    justify-content: space-around;
    overflow:hidden;
    
}
.lblInput  {
    color:white;
    background-color:black;
    font-size:larger;
    display:flex;
    align-self:flex-start;
    min-width: 100px;
}

.ui-btn {
    width:20%;
    border-radius:25px;

}
.p1words {
    padding:10px;

}
input {
    width: 10%;
    justify-content: center;
    text-align:right;
}


.header {
    color: white;
    background-color: black;
}

h1 {
    border: solid;
    border-color: gold;
    color: gold;
    border-radius: 20px;
    text-align: center;
    background-color: dodgerblue;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3px;
}

h2 {
    font-size: small;
    border: double;
    border-color: orangered;
    color: orangered;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
}

div {
    color: white;
    background-color: black;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
